//* {
//  margin: 0;
//  padding: 0;
//  box-sizing: border-box;
//}
//
//*::after { box-sizing: border-box;}
//
//*::before { box-sizing: border-box;}
//
//h1, h2, h3, h4, h5, h6 {font-weight: normal}
//ul,ol,li{
//  list-style: none;
//}
//pre{
//  font-family: 'Fira Code Retina','Consolas','monospace';
//}
//a{
//  text-decoration: navajowhite;
//  color:inherit;
//  display: block;
//}
//$padding:16px;
$main-color:#6964d0;
$border-color:#EEEEEE;
$text-color:#333;
$icon-color:#999;
  //#615888;3D3170;#6964d0
